@model IEnumerable<BDProblems.Theme>

@{
    ViewData["Title"] = "Problems ordered by themes";
}
    <p>
        <div class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Themes")'">
            Add new theme
        </div>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThemeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThemeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Problems</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

