@model IEnumerable<BDProblems.Models.User>

    <p>
        <h2>User List</h2>
    </p>

    <table class="table">
        @foreach (var user in Model)
        {
            @if (user.UserName != "admin")
            {
                <tr>

                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Roles" asp-route-userid="@user.Id" asp-action="Edit">Access rights</a>
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Account" asp-route-userid="@user.Id" asp-action="ChangePassword">Change password</a>
                    </td>
                    <td>

                        <form asp-action="Delete" asp-controller="Account" asp-route-userid="@user.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        }

    </table>

