@model IEnumerable<BDProblems.Grade>

@{
    ViewData["Title"] = "Index";
}
    <p>
        <div class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Grades")'">
            Add new grade
        </div>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Problems</a>
                </td>
            </tr>
        }
    </tbody>
</table>
